<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h2>Validation successful!! redirecting to relying party.</h2>

<script th:inline="javascript">
    /*<![CDATA[*/

    let redirectUrl = /*[[${redirectUrl}]]*/ undefined;
    console.log("redirect url::", redirectUrl);
    if(redirectUrl !== null) {
        window.location.href = redirectUrl
    }
    /*]]>*/
</script>

</body>
</html>
